@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fff;
	background: #020a18;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	max-width: 1146px;
	margin: 0 auto;
}

header {
	padding: 39px 0;
	margin-bottom: 160px;
}

.navigation {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.navigation a {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
}

.main-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 197px;
}

.main-content__wrapper {
	max-width: 604px;
}

.main-content__wrapper h3 {
	color: #3a68b8;
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.main-content__wrapper h1 {
	font-size: 55px;
	font-weight: 800;
	line-height: 130%;
	margin-bottom: 40px;
}
.main-content__wrapper p {
	font-size: 18px;
	line-height: 160%;
	opacity: 0.7;
	margin-bottom: 50px;
	max-width: 558px;
}

.main-content__btn-list {
	display: flex;
	gap: 20px;
	align-items: center;
}

.main-content__btn {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	padding: 15px 30px;
	border-radius: 5px;
	background: #3a68b8;
	border: none;
	cursor: pointer;
}

.btn-play {
	display: flex;
	gap: 10px;
}

footer {
}

.logos {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
	flex-wrap: wrap;
}

.cards-list__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 30px;
	opacity: 0.7;
}

.card {
	background: #132035;
	border-radius: 10px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 30px;
	color: #ffffff;
}

.card h3 {
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
}

.card p {
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
}

.card-big {
	grid-column: span 2;
	grid-row: span 2;
	gap: 60px;
}

@media (max-width: 1146px) and (min-width: 848px) {
	.container {
		max-width: 767px;
	}

	.main-content {
		flex-direction: column;
		align-items: center;
		gap: 128px;
		padding: 0 81px;
	}

	.main-content__wrapper h3 {
		font-size: 16px;
	}

	.main-content__wrapper h1 {
		font-size: 48px;
	}

	.logos {
		max-width: 540px;
		justify-content: center;
		gap: 32px;
	}

	.cards-list__wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 32px;
	}
	.hidden {
		display: none;
	}

	.card {
		max-width: 362px;
		background-color: #0f1623;
	}
}

@media (max-width: 847px) {
	.container {
		max-width: 343px;
	}

	header {
		margin-bottom: 64px;
	}

	.navigation {
		gap: 16px;
	}

	.navigation a {
		font-size: 14px;
		line-height: 19px;
	}

	.main-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 128px;
		margin-bottom: 128px;
	}

	.main-content__wrapper h3 {
		font-size: 14px;
		margin-bottom: 16px;
	}

	.main-content__wrapper h1 {
		font-size: 28px;
		margin-bottom: 64px;
	}

	.main-content__wrapper p {
		margin-bottom: 39px;
	}

	.main-content__btn-list {
		flex-direction: column;
		gap: 24px;
	}

	.logos {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.cards-list__wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 32px;
	}
	.hidden {
		display: none;
	}

	.card {
		background-color: #0f1623;
	}
}
