* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
header{
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: #000;;
}
.menu{
    display: flex;
    align-items:end;
    gap: 40px;
    padding-bottom: 20px;
}
.menu.left{
    padding-left: 230px;
}
.menu.right{
    padding-right: 240px;
}
.banner{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}
.banner_photo{
    display: flex;
    justify-content: center;
    width:50%;
}

.slogan{
    height: 92px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    min-width: 377px;
}
.the_brand{
    font-size: 48px;
    font-weight: 900;
}
.luxerious{
    font-size: 32px;
    font-weight: 700;
}
.fashion{
    color: #F16D7F;
}
.container{
    max-width: 1140px;
    min-width: 1024px;
    margin: 0 auto;
    display:flex;
}
.top_cards_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    gap:30px;
    padding-top: 65px;
}
.top_card {
    width: 360px;
    height: 260px;
}

.top_card.first{
    background-image: url("./img/women1.png");
}
.top_card.second{
    background-image: url("./img/men1.png");
}
.top_card.thrist{
    background-image: url("./img/child1.png");
}
.top_card.long{
    background-image: url("./img/long.png");
    grid-column:span 3;
    width: 100%;
    height: 180px;
}
.shadow{
    width:100%;
    height:100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.top_card_up_text{
    color: #FFF;

}
.top_card_down_text{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.main_content{
    padding-top: 96px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    
}
p{
    color: #9F9F9F;
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
}
.main_card{
    padding-top: 48px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}
.photo{
    width: 360px;
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
}
.card{
    height: 581px;
    background-color: #F8F8F8;;
}
.text{
    padding-top: 23px;
    padding-left:18px;
}
h3{
    font-size: 13px;
}
.overview{
    padding: 16px 16px 16px 0;
    
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}
.price{
    color: #F16D7F;
}
.button_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}
.btn{
    width: 212px;
    height: 48px;
    color: #F26376;
    background-color:#fff;
    border: 1px solid #FF6A6A;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .menu.left{
        padding-left: 32px;
    }
    .menu.right{
        padding-right: 41px;
    }
    .banner_photo_img{
        content: url("./img/big_men_plan.png");
    }

    .top_card {
        width: 232px;
        height: 168px;
        background-size: contain;
    }

    .main_card{
       padding-top: 73px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    .container{
        
        max-width: 734px;
        min-width: auto;
        margin: 0 auto;
        display:flex;
        justify-self:center;     
   
    }
    .slogan{
        height: 78px;
        min-width: 283px;
    }
    .the_brand{
        font-size: 44px;
    }
    .luxerious{
        font-size: 24px;
    }
    .top_card.long{
        height: 116px;
    
    }

    .main_content{
        padding-top: 110px;
    }
    
       
    
}
@media (max-width: 767px) and (min-width: 320px) {
    .menu.left{
        padding-left: 16px;
    }
    .menu.right{
        padding-right: 26px;
    }
    .profile{
        display: none;
    }
    .basket{
        display: none;
    }
    .banner_photo{
        display: none;
    }
    .banner{
        height: 363px;
        padding-left: 0;
        padding-right: 0;
    }
    .the_brand{
        font-size: 38px;
    }
    .luxerious {
        font-size: 20px;
    }
    .slogan{
        height: 70px;
        min-width: 236px;
    }
    .top_cards_list{
        display: flex;
        flex-direction: column;
    }
    .main_card{
        display: flex;
        flex-direction: column;
    }
    .container{
        
        max-width: 360px;
        min-width: auto;
        /* margin: 0 auto; */
        display:flex;
        justify-content: center;

    }

    .top_card.long{

        height: 111px;
    }
    .main_content{
        padding-top: 64px;
    }
    .main_card{
        padding-top: 64px;
        gap:16px;
    }

}