* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
header{
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: #000;;
}
.menu{
    display: flex;
    align-items:end;
    gap: 40px;
    padding-bottom: 20px;
    position: relative;
}
.menu.left{
    padding-left: 230px;
}
.menu.right{
    padding-right: 240px;
}
.banner{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}
.banner_photo{
    display: flex;
    justify-content: center;
    width:50%;
}

.slogan{
    height: 92px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    min-width: 377px;
}
.the_brand{
    font-size: 48px;
    font-weight: 900;
}
.luxerious{
    font-size: 32px;
    font-weight: 700;
}
.fashion{
    color: #F16D7F;
}
.container{
    max-width: 1140px;
    min-width: 1024px;
    margin: 0 auto;
    display:flex;
}
.top_cards_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    gap:30px;
    padding-top: 65px;
    width: 100%;
}
.top_card {
    max-width: 360px;
    height: 260px;
}

.top_card.first{
    background-image: url("./img/women1.png");
}
.top_card.second{
    background-image: url("./img/men1.png");
}
.top_card.thrist{
    background-image: url("./img/child1.png");
}
.top_card.long{
    background-image: url("./img/long.png");
    grid-column:span 3;
    max-width: 100%;
    min-width: 100%;
    height: 180px;
}
.shadow{
    width:100%;
    height:100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.top_card_up_text{
    color: #FFF;

}
.top_card_down_text{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.main_content{
    padding-top: 96px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    
}
p{
    color: #9F9F9F;
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
}
.main_card{
    padding-top: 48px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}
.photo{

    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 420px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.photo:hover .photo_hover{
    display: flex;
}
.photo_hover{
    background-color: rgba(58, 56, 56, 0.859);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
.add_to_card{
    width: 139px;
    height: 44px;
    color: #FFF;
    font-size: 14px;
    border: 1px solid #fff;
    display: flex;
    align-items:  center;
    gap: 11px;
}
.add_to_card img{
    width: 26px;
    height: 24px;
    padding-left: 13px;
}
.card{
    width: 100%;
    height: 581px;
    background-color: #F8F8F8;
    
}


.card1{
    background-image: url("./img/card1.jpg");
    
}
.card2{
    background-image:  url("./img/card2.png");
}
.card3{
    background-image: url("./img/card3.png");
}
.card4{
    background-image: url("./img/card4.png");
}
.card5{
    background-image: url("./img/card5.png");
}
.card6{
    background-image: url("./img/card6.png");
    
}

.text{
    padding-top: 23px;
    padding-left:18px;
}
h3{
    font-size: 13px;
}
.overview{
    padding: 16px 16px 16px 0;
    
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}
.price{
    color: #F16D7F;
}
.button_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}
.btn{
    width: 212px;
    height: 48px;
    color: #F26376;
    background-color:#fff;
    border: 1px solid #FF6A6A;
    cursor: pointer;
}
.btn:hover{
    background-color: #FF6A6A;
    color:#fff;
}
footer{
    background-color: #000;
}

.bottom_list{
    height:340px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.bottom{
    text-align: center;

}
.bottom h3{
    padding-top: 28px;
    color: #FBFBFB;
    font-size: 20px;
}

.bottom P{
    padding-top: 16px;
    font-size: 14px;
    font-weight: 300;
}
.subscribe_list{
    height: 448px;
    background: url("./img/serfer.png");
    background-size: cover;
}
.shadow2{
    background: rgba(244, 244, 244, 0.70);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.bottom_form{
    display: flex;
    justify-content: center;
}
.subscribe_list2{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap:223px;
}
.bottom_girl{
    padding-top: 97px;
    text-align: center;
}
.bottom_girl p{
    color: #222224;
    font-size: 20px;
    width: 360px;
}
.subscribe{
    padding-top: 150px;
    color: #222224;
    line-height: 167.2%;
    text-align: center;
    
}
.subscribe h3{

    font-size: 24px;
    font-weight: 700;
    
}
.subscribe p{
    font-size: 18px;
    font-weight: 400;
    

}
.bottom_btn{
    padding-top: 32px;
}

.btn_email{
    max-width: 256px;
    height: 49px;
    background-color:  #E1E1E1;
    border: 0;
    color: #222224;
    font-size: 14px;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
}

.btn_subscribe{
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    border-radius: 0 20px 20px 0;
   

}
.copyright{
    color: #FBFBFB;
    font-size: 16px;
}
.footer_logo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_logo{
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_logo:hover{
    background-color: #F16D7F;
    cursor: pointer;
}
.bottom_logo:hover svg path{
    fill:#fff;
}

.bottom_logo_list{
    display: flex;
    gap:7px;
}
.basket::after{
    position: absolute;
    top: 15px;
    left: 165px;
    content: "5";
    color: #FFF;
    font-size: 12px;
    background: url("./img/Ellipse\ 2.svg");
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 1024px) and (min-width: 768px) {
    .menu.left{
        padding-left: 32px;
    }
    .menu.right{
        padding-right: 41px;
    }
    .banner_photo_img{
        content: url("./img/big_men_plan.png");
    }

    .top_card {
        max-width: 232px;
        height: 168px;
        background-size: contain;
    }

    .main_card{
       padding-top: 73px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    .container{
        max-width: 734px;
        min-width: auto;
        margin: 0 auto;
        display:flex;
        justify-self:center;     
    }
    .slogan{
        height: 78px;
        min-width: 283px;
    }
    .the_brand{
        font-size: 44px;
    }
    .luxerious{
        font-size: 24px;
    }
    .top_card.long{
        height: 116px;
        
    }

    .main_content{
        padding-top: 110px;
    }
    .bottom_list{
        height:auto;
        
        flex-direction: column;
        gap: 48px;
        padding-bottom: 64px;
        
    }
    footer{
        padding-top: 48px;
        
   
    }
    
    .bottom{
        width: 360px;
    }
    .subscribe_list2{
        flex-direction: column;
        gap: 48px;
        justify-content: center;
        align-items: center;
    }
    .bottom_girl{
        padding-top: 64px;
        width: 360px;
    }
    .subscribe{
        padding-top: 0;
        height: 277px;
    }
    .subscribe_list .shadow2{
        padding-bottom: 140px;

    }
    .subscribe_list{
        padding-bottom: 140px;

    }
       
    
}
@media (max-width: 767px) and (min-width: 320px) {
    .menu.left{
        padding-left: 16px;
    }
    .menu.right{
        padding-right: 26px;
    }
    .profile{
        display: none;
    }
    .basket{
        display: none;
    }
    .banner_photo{
        display: none;
    }
    .banner{
        height: 363px;
        padding-left: 0;
        padding-right: 0;
    }
    .the_brand{
        font-size: 38px;
    }
    .luxerious {
        font-size: 20px;
    }
    .slogan{
        height: 70px;
        min-width: 236px;
    }
    .top_cards_list{
        display: flex;
        flex-direction: column;
    }
    .main_card{
        display: flex;
        flex-direction: column;
    }
    .container{
        
        max-width: 360px;
        min-width: auto;
        /* margin: 0 auto; */
        display:flex;
        justify-content: center;

    }

    .top_card.long{

        height: 111px;
    }
    .main_content{
        padding-top: 64px;
    }
    .main_card{
        padding-top: 64px;
        gap:16px;
    }
    .subscribe_list2{
        flex-direction: column;
        gap: 48px;
        justify-content: center;
        align-items: center;
    }

    .bottom_list{
        height:auto;
        
        flex-direction: column;
        gap: 48px;
        padding-bottom: 64px;
        
    }
        
    .bottom{
        max-width: 320px;
    }
    .btn_email{
        max-width: 200px;

    }
    
    .btn_subscribe{
        max-width: 100px;
 
       
    
    }
    .bottom_girl p {
        max-width: 320px;
    }
    .main_content{
        padding-top: 110px;
    }
    .bottom_list{
        height:auto;
        
        flex-direction: column;
        gap: 48px;
        padding-bottom: 64px;
        
    }
    footer{
        padding-top: 48px;
        
   
    }
    
    .bottom{
        max-width: 360px;
    }
    .subscribe_list2{
        flex-direction: column;
        gap: 48px;
        justify-content: center;
        align-items: center;
    }
    .bottom_girl{
        padding-top: 64px;
        max-width: 360px;
    }
    .subscribe{
        padding-top: 0;
        height: 277px;
    }
    .subscribe_list .shadow2{
        padding-bottom: 140px;

    }
    .subscribe_list{
        padding-bottom: 140px;

    }
    .footer_logo{
        flex-direction:column-reverse;
        gap: 40px;
        height: 143px;
        padding-top: 51px;
    }
    .btn_email{
    max-width: 245px;
    }
    

}